.center{
    margin:auto;
    width: 50%;
    padding: 10px;
}

.flex-container {
    display: flex;
    margin: 20px;
}

.flex-child {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}  

.flex-child:first-child {
    margin-right: 20px;
} 

.section:last-child {
    border-bottom: none;
}
.card-main {
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

body {
    font-family: sans-serif;
    background-color: #efe5c7;
    color: #333;
}